<div class="container">
  <div style="text-align: center;">
    <h1>Johnny R. O'Donnell</h1>
    <hr/>
    <hr/>
    <p><a href="https://github.com/johnnyodonnell">github.com/johnnyodonnell</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="http://johnnyodonnell.herokuapp.com/">johnnyodonnell.herokuapp.com</a>
  </div>
  
  <h3>WORK EXPERIENCE</h3>
  <hr/>
  <p><b>JPMorgan Chase & Co.,</b> Chicago, IL</p>
  <p><i>Application Developer</i></p>
  <ul>
    <li>Completed 10-week internship within the Corporate & Investment Bank, culminating in the extension of a return offer</li>
    <li>Operated within the Cleared Derivatives line of business, which is responsible for processing over 20,000 trades daily</li>
    <li>Adapted to a team environment that relies on Java, Git, Maven, AMQP, as well as several internal technologies</li>
    <li>Partnered with teams in London and Glasgow to produce a desktop application that provided our internal staff with real-time information regarding the status of client trades</li>
    <li>Developed module responsible for reading trade data from a private event bus, transforming the data, and sending the data to other modules</li>
  </ul>
  
  <br/>
  
  <p><b>Fratshot Pictures LLC,</b> Bloomington, IN</p>
  <p><i>Sole Software Developer</i></p>
  <ul>
    <li>Executed end-to-end design and development of Internet <a href="https://www.fratshot.com/">web application</a> created for local photography service specializing in fraternity and sorority events</li>
    <li>Provided a private platform to view event photos and to facilitate in the process of purchasing physical copies</li>
    <li>Implemented application using technologies, such as Ruby on Rails, PostgreSQL, Twitter Bootstrap, Heroku, and AWS</li>
    <li>Integrated third-party payment solutions application, Stripe, for quick and secure checkout using JavaScript</li>
  </ul>
  
  <br />
  
  <p><b>Deloitte Consulting LLP,</b> Chicago, IL</p>
  <p><i>Business Technology Analyst</i></p>
  <ul>
    <li>Completed 10-week internship program, based out of the Chicago office, culminating in the extension of a return offer</li>
    <li>Worked with the State of Kentucky to create their <a href="https://kynect.ky.gov/">health insurance exchange</a> in accordance with the Affordable Care Act</li>
    <li>Modified requirements and completed a first draft of all screen designs for the Plan Management module &ndash; a module that allows Healthcare Issuers to upload plans and Exchange Administrators to approve plans</li>
    <li>Programmed a Ruby script that captures Affordable Care Act regulations into an organized Excel spreadsheet allowing project experts to navigate regulations more efficiently</li>
  </ul>
  
  <br />
</div>